<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (department(); as departmentRef) {
      <div>
        <h2 data-cy="departmentDetailsHeading"><span jhiTranslate="pGestion360App.department.detail.title">Department</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ departmentRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="pGestion360App.department.departmentName">Department Name</span></dt>
          <dd>
            <span>{{ departmentRef.departmentName }}</span>
          </dd>
          <dt><span jhiTranslate="pGestion360App.department.field">Field</span></dt>
          <dd>
            <span>{{ departmentRef.field }}</span>
          </dd>
          <dt><span jhiTranslate="pGestion360App.department.parentDepartment">Parent Department</span></dt>
          <dd>
            @if (department()!.parentDepartment) {
              <div>
                <a [routerLink]="['/department', department()!.parentDepartment?.id, 'view']">{{
                  departmentRef.parentDepartment?.departmentName
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/department', departmentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
