<div>
  <h2 id="page-heading" data-cy="ItemCatalogueHeading">
    <span jhiTranslate="pGestion360App.itemCatalogue.home.title">Item Catalogues</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="pGestion360App.itemCatalogue.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-item-catalogue"
        [routerLink]="['/item-catalogue/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pGestion360App.itemCatalogue.home.createLabel">Crear nuevo Item Catalogue</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (itemCatalogues().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="pGestion360App.itemCatalogue.home.notFound">Ningún Item Catalogues encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="pGestion360App.itemCatalogue.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="pGestion360App.itemCatalogue.code">Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="catalogueCode">
              <div class="d-flex">
                <span jhiTranslate="pGestion360App.itemCatalogue.catalogueCode">Catalogue Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="active">
              <div class="d-flex">
                <span jhiTranslate="pGestion360App.itemCatalogue.active">Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="catalogue.id">
              <div class="d-flex">
                <span jhiTranslate="pGestion360App.itemCatalogue.catalogue">Catalogue</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (itemCatalogue of itemCatalogues(); track trackId(itemCatalogue)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/item-catalogue', itemCatalogue.id, 'view']">{{ itemCatalogue.id }}</a>
              </td>
              <td>{{ itemCatalogue.name }}</td>
              <td>{{ itemCatalogue.code }}</td>
              <td>{{ itemCatalogue.catalogueCode }}</td>
              <td>{{ itemCatalogue.active }}</td>
              <td>
                @if (itemCatalogue.catalogue) {
                  <div>
                    <a [routerLink]="['/catalogue', itemCatalogue.catalogue.id, 'view']">{{ itemCatalogue.catalogue.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/item-catalogue', itemCatalogue.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/item-catalogue', itemCatalogue.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(itemCatalogue)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (itemCatalogues().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
