@if (catalogue) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(catalogue.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="catalogueDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirmar operación de borrado</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error />
      <p id="jhi-delete-catalogue-heading" jhiTranslate="pGestion360App.catalogue.delete.question" [translateValues]="{ id: catalogue.id }">
        ¿Seguro que quiere eliminar Catalogue {{ catalogue.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
      </button>

      <button id="jhi-confirm-delete-catalogue" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Eliminar</span>
      </button>
    </div>
  </form>
}
