<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (trackingRecord(); as trackingRecordRef) {
      <div>
        <h2 data-cy="trackingRecordDetailsHeading">
          <span jhiTranslate="pGestion360App.trackingRecord.detail.title">Tracking Record</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ trackingRecordRef.id }}</span>
          </dd>

          <dt><span jhiTranslate="pGestion360App.trackingRecord.changeDate">Change Date</span></dt>
          <dd>
            <span>{{ trackingRecordRef.changeDate | formatMediumDate }}</span>
          </dd>

          <dt><span jhiTranslate="pGestion360App.trackingRecord.status">Status</span></dt>
          <dd>
            <span>{{ trackingRecordRef.status }}</span>
          </dd>

          <dt><span jhiTranslate="pGestion360App.trackingRecord.comments">Comments</span></dt>
          <dd>
            <span>{{ trackingRecordRef.comments }}</span>
          </dd>

          <dt><span jhiTranslate="pGestion360App.trackingRecord.user">User</span></dt>
          <dd>
            <span>{{ trackingRecordRef.user?.login }}</span>
          </dd>

          <dt><span>Department</span></dt>
          <dd>
            @if (trackingRecordRef.department) {
              <div>
                <a [routerLink]="['/department', trackingRecordRef.department?.id, 'view']">
                  {{ trackingRecordRef.department?.departmentName }}
                </a>
              </div>
            }
          </dd>

          <dt><span jhiTranslate="pGestion360App.trackingRecord.changeRequest">Change Request</span></dt>
          <dd>
            @if (trackingRecordRef.changeRequest) {
              <div>
                <a [routerLink]="['/change-request', trackingRecordRef.changeRequest?.id, 'view']">
                  {{ trackingRecordRef.changeRequest?.id }}
                </a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>
      </div>
    }
  </div>
</div>
